/*-------This is Prymary section after running code design------*/
*{
    margin: 0;
    padding: 0;
    font-family:'Solway', sans-serif;
    }
/*-------This is Body section design------*/
body{
    background-color: #F1F2F2;
}

h1,h2,h3,h4,h5,h6{
    color: rgb(25, 156, 156);
}

/*-------This is Body Container design------*/
.container{
    max-width: 1000px;
    background-color: #dcf6f1;
    margin: 0 auto;
    padding: 20px;
}

/*-------This is Body Header design------*/
header{

}
.profile-image{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 100%;
    float: left;
}
.header-bio{
float: left;
padding: 30px;
text-align: center;
}
.header-contact{
    float: right;
    padding: 30px;
}

.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
    cursor:grab;
}

/*-------div clear------*/

.div-clear{
    clear: both;
}

hr{
    border: 3px solid black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}

/*-------This is Body main design------*/




/*-------This is Personal section------*/
.personal-information{

}

.content{
    margin-bottom: 30px;
}
.personal-information-left{
width: 30%;
float: left;
}

.personal-information-right{
width: 70%;
float: left;
}

.personal-information-right::selection{
    color: rgb(252, 252, 252);
    background-color: blue;
    }
.common-hr{
    border: 1px solid black;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}

/*-------This is Education section------*/

#education-temp{

}
.education-temp-left{
float: left;
}
.education-temp-right{
    float: right;

}



/*--------------------
Footer Section Start
----------------------*/

.bottom-container{
    background-color: black;
    text-align: center;
    padding: 10px;

}

.bottom-container a{
color: white;
text-decoration: none;
margin: 20px;

}

.bottom-container p{
    color: white;
    text-decoration: none;
    margin-top: 20px;
    
    }