body{
    background-color:rgb(217, 223, 223)
}
#nav-menu{
position: absolute;
left: 850px;


}
#nav-menu ul li{
    list-style-type:none;
    float: left;
    margin: 2px 5px 2px 5px;
    
    background-color: rgb(8, 8, 97);
    font-size: 25px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
#nav-menu ul li a{
    text-decoration: none;
    color: rgb(251, 248, 248);
    cursor: pointer;
}
#nav-menu ul li a:hover{
    text-decoration: underline;

color: rgb(181, 6, 6);
font-size: 30px;
}
