body{
    background-color:rgb(217, 223, 223)
}
#nav-menu{
<<<<<<< HEAD
width: 600px;
height: 80px;
background-color: #639e63;
margin: 0 auto;
}
#nav-menu ul{
=======
position: absolute;
left: 850px;

>>>>>>> f3b5b256d893cd4bb9ba44a47f6b44449349bf83

}
#nav-menu ul li{
    list-style-type:none;
    float: left;
    margin: 2px 5px 2px 5px;
    
    background-color: rgb(8, 8, 97);
    font-size: 25px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
#nav-menu ul li a{
    text-decoration: none;
    color: rgb(251, 248, 248);
    cursor: pointer;
}
#nav-menu ul li a:hover{
    text-decoration: underline;
<<<<<<< HEAD
    background-color: tomato;
    color: white;
    padding: 5px;
}
=======
>>>>>>> f3b5b256d893cd4bb9ba44a47f6b44449349bf83

color: rgb(181, 6, 6);
font-size: 30px;
}
<<<<<<< HEAD
.nav-menu h2,h3{
    background-color: aquamarine;
    box-sizing: border-box;
    padding: 3px;
    text-align: center;
    color: rgb(3, 9, 75);
}

.nav-menu p{
    font-size: 16px;
}
#gradiend-color{
    width: 550px;
height: 200px;
margin: 0 auto;
  
}
#gradiend-color p{
    background-image: radial-gradient(circle, green, red);
    height: 80px;
    box-sizing: border-box;
    font-size: 18px;
    color: aliceblue;
    padding: 8px;
}
#gradiend-color h2{
    background-image:linear-gradient(to right, red, blue);
    height: 80px;
    box-sizing: border-box;
    font-size: 18px;
    color: aliceblue;
    padding: 8px;
}

div{
    margin: 0 auto;
}
=======
>>>>>>> f3b5b256d893cd4bb9ba44a47f6b44449349bf83
